html{
    font-size: 14px;
}
@media (min-width: 600px) {
    html{
        font-size: 16px;
    }
}
@media (min-width: 1000px) {
    html{
        font-size: 20px;
    }
}

h1{
    font-size: 2.2rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.4rem;
}
h6{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
}

.page-container{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

@media (min-width: 1000px) {
    .page-container{
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
}

.grid{
    display: grid;
    grid-gap: 32px;
    grid-template-columns:1fr;
}

@media (min-width: 600px) {
    .grid{
        grid-template-columns:1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .card.vertical{
        grid-row: span 2;
    }
}

.card{
    background: lavender;
    padding: 20px;
}

.card.vertical{
    grid-row: auto;
}
@media (min-width: 600px) {
    .card.vertical{
        grid-row: span 2;
    }
}

.card.horizontal{
    grid-column: auto;
}

@media (min-width: 600px) {
    .card.horizontal{
        grid-column: span 2;
    }
}
